# TP1

## 1: Quelle est la moyenne des votes par profession ("job") et par âge? (2 points)

In [13]:
### Lecture des données
user <- read.csv(file='u.user.csv', sep='|', header=T)
item <- read.csv(file='u.item.csv', sep='|', header=T)
data <- read.csv(file='u.data.csv', sep='|', header=T)

In [14]:
library(Matrix)
	    m <- sparseMatrix(u.data[,1],u.data[,2],x=u.data[,3])
	    rownames(m) <- paste('u', 1:nrow(m), sep='')
	    colnames(m) <- paste('i', 1:ncol(m), sep='')

In [33]:
# merge des dataframes en un seul
colnames(user)[colnames(user)=="id"] <- "user.id"
colnames(item)[colnames(item)=="movie.id"] <- "item.id"

allData <- merge(x=data,y=user,by="user.id",all=TRUE)
allData <- merge(x=allData,y=item,by="item.id",all=TRUE)
allData

       item.id user.id rating timestamp age gender job           zip
1      1         1     5      874965758 24  M      technician    85711
2      1       117     4      880126083 20  M      student       16125
3      1       429     3      882385785 27  M      student       29205
4      1       919     4      875289321 25  M      other         14216
5      1       457     4      882393244 33  F      salesman      30011
6      1       468     5      875280395 28  M      engineer      02341
7      1        17     4      885272579 30  M      programmer    06355
8      1       892     5      886608185 36  M      other         45243
9      1        16     5      877717833 21  M      entertainment 10309
10     1       580     3      884125243 16  M      student       17961
11     1       268     3      875742341 24  M      engineer      19422
12     1       894     4      880416286 47  M      educator      74075
13     1       535     3      879617663 45  F      educator      80302
14     1       109     4      880563619 29  M      other         55423
15     1       458     4      886394423 47  M      technician    Y1A6B
16     1       331     1      877196567 33  M      entertainment 91344
17     1       296     5      884196689 43  F      administrator 16803
18     1       691     5      875543346 34  M      educator      60089
19     1       854     3      882812225 29  F      student       55408
20     1       416     5      893212483 20  F      student       92626
21     1       295     4      879517580 31  M      educator      50325
22     1        58     5      884304483 27  M      programmer    52246
23     1        89     5      879461219 43  F      administrator 68106
24     1       582     4      882961257 17  M      student       93003
25     1       425     2      878737873 19  M      student       58644
26     1       294     5      877819634 34  M      technician    92110
27     1       371     4      877487440 36  M      engineer      99206
28     1        49     2      888068651 23  F      student       76111
29     1       642     5      885603565 18  F      student       95521
30     1       653     4      878855383 31  M      executive     55105
⋮      ⋮       ⋮       ⋮      ⋮         ⋮   ⋮      ⋮             ⋮
99971  1658    894     4      882404137 47  M      educator      74075
99972  1659    747     1      888733313 19  M      other         93612
99973  1660    747     2      888640731 19  M      other         93612
99974  1661    751     1      889299429 24  F      other         90034
99975  1662    762     1      878719324 32  M      administrator 95050
99976  1662    782     4      891500110 21  F      artist        33205
99977  1663    782     2      891499700 21  F      artist        33205
99978  1664    870     4      890057322 22  M      student       65203
99979  1664    839     1      875752902 38  F      entertainment 90814
99980  1664    880     4      892958799 13  M      student       83702
99981  1664    782     4      891499699 21  F      artist        33205
99982  1665    782     2      891500194 21  F      artist        33205
99983  1666    782     2      891500194 21  F      artist        33205
99984  1667    782     3      891500110 21  F      artist        33205
99985  1668    782     3      891500067 21  F      artist        33205
99986  1669    782     2      891500150 21  F      artist        33205
99987  1670    782     3      891497793 21  F      artist        33205
99988  1671    787     1      888980193 18  F      student       98620
99989  1672    828     2      891037722 28  M      librarian     85282
99990  1672    896     2      887159554 28  M      writer        91505
99991  1673    835     3      891034023 44  F      executive     11577
99992  1674    840     4      891211682 39  M      artist        55406
99993  1675    851     3      884222085 18  M      other         29646
99994  1676    851     2      875731674 18  M      other         29646
99995  1677    854     3      882814368 29  F      student       55408
99996  1678    863     1      889289570 17  M      student       60089
99997  1679    863     3      889289491 17  M      student       60089
99998  1680    863     2      889289570 17  M      student       60089
99999  1681    896     3      887160722 28  M      writer        91505
100000 1682    916     3      880845755 27  M      engineer      N2L5N
       movie.title                               release.date ⋯ Fantasy
1      Toy Story (1995)                          01-Jan-1995  ⋯ 0
2      Toy Story (1995)                          01-Jan-1995  ⋯ 0
3      Toy Story (1995)                          01-Jan-1995  ⋯ 0
4      Toy Story (1995)                          01-Jan-1995  ⋯ 0
5      Toy Story (1995)                          01-Jan-1995  ⋯ 0
6      Toy Story (1995)                          01-Jan-1995  ⋯ 0
7      Toy Story (1995)                          01-Jan-1995  ⋯ 0
8      Toy Story (1995)                          01-Jan-1995  ⋯ 0
9      Toy Story (1995)                          01-Jan-1995  ⋯ 0
10     Toy Story (1995)                          01-Jan-1995  ⋯ 0
11     Toy Story (1995)                          01-Jan-1995  ⋯ 0
12     Toy Story (1995)                          01-Jan-1995  ⋯ 0
13     Toy Story (1995)                          01-Jan-1995  ⋯ 0
14     Toy Story (1995)                          01-Jan-1995  ⋯ 0
15     Toy Story (1995)                          01-Jan-1995  ⋯ 0
16     Toy Story (1995)                          01-Jan-1995  ⋯ 0
17     Toy Story (1995)                          01-Jan-1995  ⋯ 0
18     Toy Story (1995)                          01-Jan-1995  ⋯ 0
19     Toy Story (1995)                          01-Jan-1995  ⋯ 0
20     Toy Story (1995)                          01-Jan-1995  ⋯ 0
21     Toy Story (1995)                          01-Jan-1995  ⋯ 0
22     Toy Story (1995)                          01-Jan-1995  ⋯ 0
23     Toy Story (1995)                          01-Jan-1995  ⋯ 0
24     Toy Story (1995)                          01-Jan-1995  ⋯ 0
25     Toy Story (1995)                          01-Jan-1995  ⋯ 0
26     Toy Story (1995)                          01-Jan-1995  ⋯ 0
27     Toy Story (1995)                          01-Jan-1995  ⋯ 0
28     Toy Story (1995)                          01-Jan-1995  ⋯ 0
29     Toy Story (1995)                          01-Jan-1995  ⋯ 0
30     Toy Story (1995)                          01-Jan-1995  ⋯ 0
⋮      ⋮                                         ⋮            ⋱ ⋮
99971  Substance of Fire, The (1996)             06-Dec-1996  ⋯ 0
99972  Getting Away With Murder (1996)           12-Apr-1996  ⋯ 0
99973  Small Faces (1995)                        09-Aug-1996  ⋯ 0
99974  New Age, The (1994)                       01-Jan-1994  ⋯ 0
99975  Rough Magic (1995)                        30-May-1997  ⋯ 0
99976  Rough Magic (1995)                        30-May-1997  ⋯ 0
99977  Nothing Personal (1995)                   30-Apr-1997  ⋯ 0
99978  8 Heads in a Duffel Bag (1997)            18-Apr-1997  ⋯ 0
99979  8 Heads in a Duffel Bag (1997)            18-Apr-1997  ⋯ 0
99980  8 Heads in a Duffel Bag (1997)            18-Apr-1997  ⋯ 0
99981  8 Heads in a Duffel Bag (1997)            18-Apr-1997  ⋯ 0
99982  Brother's Kiss, A (1997)                  25-Apr-1997  ⋯ 0
99983  Ripe (1996)                               02-May-1997  ⋯ 0
99984  Next Step, The (1995)                     13-Jun-1997  ⋯ 0
99985  Wedding Bell Blues (1996)                 13-Jun-1997  ⋯ 0
99986  MURDER and murder (1996)                  20-Jun-1997  ⋯ 0
99987  Tainted (1998)                            01-Feb-1998  ⋯ 0
99988  Further Gesture, A (1996)                 20-Feb-1998  ⋯ 0
99989  Kika (1993)                               01-Jan-1993  ⋯ 0
99990  Kika (1993)                               01-Jan-1993  ⋯ 0
99991  Mirage (1995)                             01-Jan-1995  ⋯ 0
99992  Mamma Roma (1962)                         01-Jan-1962  ⋯ 0
99993  Sunchaser, The (1996)                     25-Oct-1996  ⋯ 0
99994  War at Home, The (1996)                   01-Jan-1996  ⋯ 0
99995  Sweet Nothing (1995)                      20-Sep-1996  ⋯ 0
99996  Mat' i syn (1997)                         06-Feb-1998  ⋯ 0
99997  B. Monkey (1998)                          06-Feb-1998  ⋯ 0
99998  Sliding Doors (1998)                      01-Jan-1998  ⋯ 0
99999  You So Crazy (1994)                       01-Jan-1994  ⋯ 0
100000 Scream of Stone (Schrei aus Stein) (1991) 08-Mar-1996  ⋯ 0
       Film.Noir Horror Musical Mystery Romance Sci.Fi Thriller War Western
1      0         0      0       0       0       0      0        0   0
2      0         0      0       0       0       0      0        0   0
3      0         0      0       0       0       0      0        0   0
4      0         0      0       0       0       0      0        0   0
5      0         0      0       0       0       0      0        0   0
6      0         0      0       0       0       0      0        0   0
7      0         0      0       0       0       0      0        0   0
8      0         0      0       0       0       0      0        0   0
9      0         0      0       0       0       0      0        0   0
10     0         0      0       0       0       0      0        0   0
11     0         0      0       0       0       0      0        0   0
12     0         0      0       0       0       0      0        0   0
13     0         0      0       0       0       0      0        0   0
14     0         0      0       0       0       0      0        0   0
15     0         0      0       0       0       0      0        0   0
16     0         0      0       0       0       0      0        0   0
17     0         0      0       0       0       0      0        0   0
18     0         0      0       0       0       0      0        0   0
19     0         0      0       0       0       0      0        0   0
20     0         0      0       0       0       0      0        0   0
21     0         0      0       0       0       0      0        0   0
22     0         0      0       0       0       0      0        0   0
23     0         0      0       0       0       0      0        0   0
24     0         0      0       0       0       0      0        0   0
25     0         0      0       0       0       0      0        0   0
26     0         0      0       0       0       0      0        0   0
27     0         0      0       0       0       0      0        0   0
28     0         0      0       0       0       0      0        0   0
29     0         0      0       0       0       0      0        0   0
30     0         0      0       0       0       0      0        0   0
⋮      ⋮         ⋮      ⋮       ⋮       ⋮       ⋮      ⋮        ⋮   ⋮
99971  0         0      0       0       0       0      0        0   0
99972  0         0      0       0       0       0      0        0   0
99973  0         0      0       0       0       0      0        0   0
99974  0         0      0       0       0       0      0        0   0
99975  0         0      0       0       1       0      0        0   0
99976  0         0      0       0       1       0      0        0   0
99977  0         0      0       0       0       0      0        1   0
99978  0         0      0       0       0       0      0        0   0
99979  0         0      0       0       0       0      0        0   0
99980  0         0      0       0       0       0      0        0   0
99981  0         0      0       0       0       0      0        0   0
99982  0         0      0       0       0       0      0        0   0
99983  0         0      0       0       0       0      0        0   0
99984  0         0      0       0       0       0      0        0   0
99985  0         0      0       0       0       0      0        0   0
99986  0         0      0       1       0       0      0        0   0
99987  0         0      0       0       0       0      1        0   0
99988  0         0      0       0       0       0      0        0   0
99989  0         0      0       0       0       0      0        0   0
99990  0         0      0       0       0       0      0        0   0
99991  0         0      0       0       0       0      1        0   0
99992  0         0      0       0       0       0      0        0   0
99993  0         0      0       0       0       0      0        0   0
99994  0         0      0       0       0       0      0        0   0
99995  0         0      0       0       0       0      0        0   0
99996  0         0      0       0       0       0      0        0   0
99997  0         0      0       0       1       0      1        0   0
99998  0         0      0       0       1       0      0        0   0
99999  0         0      0       0       0       0      0        0   0
100000 0         0      0       0       0       0      0        0   0

In [22]:
# tableau contenant toutes les professions (uniques)
professions = user[,c('job')]
uniqueProfessions = unique(professions)
uniqueProfessions

 [1] technician    other         writer        executive     administrator
 [6] student       lawyer        educator      scientist     entertainment
[11] programmer    librarian     homemaker     artist        engineer
[16] marketing     none          healthcare    retired       salesman
[21] doctor
21 Levels: administrator artist doctor educator engineer ... writer

In [34]:
aggregate(allData[,3], list(allData$job), mean)

   Group.1       x
1  administrator 3.635646
2  artist        3.653380
3  doctor        3.688889
4  educator      3.670621
5  engineer      3.541407
6  entertainment 3.441050
7  executive     3.349104
8  healthcare    2.896220
9  homemaker     3.301003
10 lawyer        3.735316
11 librarian     3.560781
12 marketing     3.485641
13 none          3.779134
14 other         3.552377
15 programmer    3.568260
16 retired       3.466750
17 salesman      3.582944
18 scientist     3.611273
19 student       3.515143
20 technician    3.532230
21 writer        3.375723

In [35]:
aggregate(allData[,3], list(allData$age), mean)

   Group.1 x
1   7      3.767442
2  10      3.387097
3  11      2.925926
4  13      3.470825
5  14      3.375000
6  15      3.264484
7  16      3.331343
8  17      3.516165
9  18      3.696710
10 19      3.400968
11 20      3.670580
12 21      3.461589
13 22      3.253330
14 23      3.307492
15 24      3.541923
16 25      3.577872
17 26      3.213531
18 27      3.525144
19 28      3.541862
20 29      3.448493
21 30      3.438862
22 31      3.379035
23 32      3.619399
24 33      3.628785
25 34      3.434505
26 35      3.694321
27 36      3.504039
28 37      3.713652
29 38      3.503983
30 39      3.627586
⋮  ⋮       ⋮
32 41      3.661885
33 42      3.432019
34 43      3.628378
35 44      3.566276
36 45      3.727862
37 46      3.765201
38 47      3.480173
39 48      3.588406
40 49      3.676735
41 50      3.435140
42 51      3.729839
43 52      3.683625
44 53      3.829105
45 54      3.448598
46 55      3.678571
47 56      3.567797
48 57      3.576271
49 58      3.994550
50 59      3.836957
51 60      3.663766
52 61      3.787234
53 62      3.347826
54 63      3.727273
55 64      3.431579
56 65      3.624454
57 66      3.189189
58 68      3.500000
59 69      3.660256
60 70      3.517730
61 73      3.982143

## 2: Quels sont les 10 films les plus similaires à "Star Trek V: The Final Frontier (1989)" selon respectivement la mesure du cosinus et de la corrélation avec la matrice de votes.  (3 points)

## 3: Utilisez une approche item-item pour calculer le vote au film "Star Trek V: The Final Frontier (1989)" des utilisateurs qui n'ont pas de vote pour celui-ci. Prenez les 20 voisins les plus rapprochés selon la distance euclidienne et utilisez les cosinus comme poids. Si aucun vote commun existe, alors la valeur prédite est fixée à NA. (3 points)

## 4: Calculez l'erreur quadratique moyenne des prédiction de l'approche item-item à la question précédente en la comparant aux valeurs observées. (2 points)

## 5: Utilisez une approche par agglomération pour prédire les votes et calculez l'erreur quadratique moyenne. (4 points)

## 6: Je suis un nouvel utilisateur. Vous connaissez ma profession, mon sexe et mon âge. Développez un algorithme bayésien pour recommander 10 films sur la base de ces trois catégories. (4 points)

## 7: Reprenez les calculs des questions 3, 4 et 5 avec une validation croisée. (3 points)